<?xml version="1.0"?>
<configuration>  

  <configSections>
		<section name="iconConfig" type="IconConfiguration.IconConfigurationHandler, IconConfiguration"/>
	</configSections>

  <iconConfig>
		<unknownIcon imageUrl="Icons/unknown.gif" description="Unknown File Type"/>
		<icon imageUrl="Icons/word.gif" description="Word Processing Document">
			<ext>.DOC</ext>
			<ext>.RTF</ext>
			<ext>.TXT</ext>
		</icon>
		<icon imageUrl="Icons/excel.gif" description="Excel Document">
			<ext>.XLS</ext>
			<ext>.CSV</ext>
		</icon>
		<icon imageUrl="Icons/image.gif" description="Picture/Image">
			<ext>.GIF</ext>
			<ext>.TIFF</ext>
			<ext>.JPG</ext>
			<ext>.BMP</ext>
			<ext>.PNG</ext>
		</icon>
	</iconConfig>

  <appSettings>
		<add key="MyString" value="Hello World"/>
		<add key="MyInteger" value="5"/>
		<add key="MyDateTime" value="8/20/1980"/>
		<add key="MyBoolean" value="True"/>
		<add key="MyPrimeList" value="1;2;3;5;7;11;13;17"/>
		<add key="MyGuid" value="{0F962990-2B93-4066-806A-824D8308D814}"/>
	</appSettings>

  <connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Pro ASP.NET 2.0\Chapter01\Website\App_Data\Chapter01.MDF&quot;;Integrated Security=True;User Instance=True"/>
	</connectionStrings>

  <system.web>
	
    <compilation debug="true">
			<assemblies>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
		<authentication mode="Windows"/>
    
	</system.web>
  
</configuration>
