<?xml version="1.0"?>
<configuration>
	
	<connectionStrings>
		<add name="Chapter02" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Pro ASP.NET 2.0\Chapter02\Website\App_Data\Chapter02.mdf&quot;;Integrated Security=True;User Instance=True"/>
	</connectionStrings>
	
  <system.web>
	
    <compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <authentication mode="Windows"/>

    <customErrors mode="On" defaultRedirect="~/ErrorPages/GenericError.html">
			<error statusCode="404" redirect="~/ErrorPages/Error404.html"/>
		</customErrors>
    
	</system.web>
  
</configuration>
