<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="Database" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Pro ASP.NET 2.0\Chapter11\Website\App_Data\Chapter11.mdf&quot;;Integrated Security=True;User Instance=True"/>
	</connectionStrings>
	
	<system.web>
		<compilation debug="true"></compilation>

    <!-- Update this line if you want to change the maximum file upload size -->
    <httpRuntime maxRequestLength="16384" />
    
	</system.web>
	
</configuration>
