<?xml version="1.0"?>
<configuration>

  <system.web>

    <roleManager enabled="true"/>

    <authentication mode="Forms">
			<forms defaultUrl="~/BravoPortal/Portal.aspx" loginUrl="Default.aspx"></forms>
		</authentication>

    <compilation debug="true">
			<assemblies>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    		<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
		</compilation>
    
		<pages theme="Bravo"/>
    
		<webParts enableExport="true">
			<personalization>
				<authorization>
					<allow roles="admin" verbs="enterSharedScope"/>
					<deny users="Richard, Anna" verbs="enterSharedScope"/>
				</authorization>
			</personalization>
		</webParts>
	
  </system.web>
  
</configuration>
