<?xml version="1.0"?>
<configuration>
	
  <connectionStrings>
		<add name="Database" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Pro ASP.NET 2.0\Chapter13\Website\App_Data\Chapter13.mdf&quot;;Integrated Security=True;User Instance=True"/>
	</connectionStrings>
  
	<system.web>
		<httpHandlers>
			<add verb="*" path="*.hello" type="Handlers.HelloWorldHandler,Handlers"/>
		</httpHandlers>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
		<authentication mode="Windows"/>	
	</system.web>
  
</configuration>
