<?xml version="1.0"?>
<configuration>
	
  <system.web>
	
    <pages>
			<controls>
				<add tagPrefix="msgControls" assembly="Messaging" namespace="Messaging"/>
			</controls>
		</pages>
    
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
		</compilation>
    
		<authentication mode="Windows"/>
    
	</system.web>
  
</configuration>
