<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Pro ASP.NET 2.0\Northwind Database\NORTHWND.MDF&quot;;Integrated Security=True;User Instance=True"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true"></compilation>
		<authentication mode="Windows"/>
	</system.web>
  
</configuration>
