<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
    <connectionStrings/>
    <system.web>
		<httpHandlers>
			<clear />
			<add verb="*" path="*.xls" type="Handlers.XlsReportHandler,Handlers" />
			<add path="Invalid.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="True" />
			<add path="*" verb="*" type="System.Web.HttpMethodNotAllowedHandler" validate="True" />
		</httpHandlers>		
    </system.web>	
</configuration>
