body {
	background-color: #8899AA;
	margin: 0px;
	padding: 0px;
}

body, th, td {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.align-justify {
	text-align: justify;
}

.text1 {
	font-size: 10px;
}

.text2 {
	color: #414141;
}

.text3 {
	color: #A0B0CB;
}

a {
	color: #337ABA;
}

a:hover {
	text-decoration: none;
}

a.link1 {
	color: #FFFFFF;
}

