<?xml version="1.0"?>
<configuration>

	<system.web>
		<roleManager enabled="true"/>
		<anonymousIdentification enabled="true"/>
		<machineKey validationKey="ba843845853defaba779d4637882706683bd2a7b795b7cbfab854a7995435eb185e7a39f4d3a872bdbed21d592753a9b5bb6b798b9c5538038dfb7665796fb75,IsolateApps" decryptionKey="341a60c25c779d47d64697a55afd498ebff2584c28783115,IsolateApps" validation="3DES"/>

    <profile inherits="ShoppingCart.MyProfile">
			<properties>
				<add name="CustomerName" defaultValue="Valued Customer" type="System.String" allowAnonymous="true"/>
				<add name="DateOfBirth" defaultValue="8/20/1980" type="System.DateTime" allowAnonymous="true"/>
				<add name="ShoppingCart" serializeAs="Binary" type="ShoppingCart.Cart" allowAnonymous="true"/>
				<add name="TotalPageHits" type="System.Int64"/>
				<add name="LastAdDate" type="System.DateTime"/>
				<group name="Address">
					<add name="City" type="System.String" allowAnonymous="true"/>
					<add name="State" type="System.String" allowAnonymous="true"/>
					<add name="Zip" type="System.String" allowAnonymous="true"/>
					<add name="Address" type="System.String" allowAnonymous="true"/>
					<add name="AptOrSuite" type="System.String" allowAnonymous="true"/>
				</group>
				<group name="CategoryTracking">
					<add name="Baseball" type="Int32" allowAnonymous="true"/>
					<add name="Basketball" type="Int32" allowAnonymous="true"/>
					<add name="Football" type="Int32" allowAnonymous="true"/>
					<add name="Hockey" type="Int32" allowAnonymous="true"/>
				</group>
			</properties>
		</profile>
    
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
		</compilation>

    <authentication mode="Forms"/>

	</system.web>
  
</configuration>
